/* MIDDLE */
.mid-section {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    flex: 1;
    width: 0;
    max-width: 500px;
    
    height: 36px;
    padding-left: 16px;
    font-size: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.searchbar, .search-btn, .voice-search-btn {
    border: 1px solid #EDEDED;
}

.search-btn, .voice-search-btn {
    background-color: #F8F8F8;
}

.search-btn {
    width: 64px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -1px;
}

.search-img {
    height: 24px;
}

.voice-search-btn {
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 16px;
}

.voice-search-img {
    height: 24px;
}
