body {
    margin: 0;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.header-div {
    display: flex;
    justify-content: space-between;
    height: 56px;
}

.left-section, .right-section {
    width: 150px;
}

.mid-section {
    flex: 1;
}
