.profile-div {
    width: 150px;
    border: 1px solid rgb(200,200,200);
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
}

.photo-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.desc-div {
    font-size: 14px;
    padding: 8px;
}

.name, .total-mutual-friends {
    margin-top: 0;
    margin-bottom: 4px;
}

.user-name {
    font-weight: bold;
}

.add-btn {
    background-color: #3060C0;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.add-btn:active {
    box-shadow: 0 0 60px lightblue;
}
