p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.super-container {
    border: 1px solid #EBEAEB;
    width: 250px;
    border-radius: 8px;

    padding-left: 16px;
    padding-right: 16px;
}

.container {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;

    margin-top: 8px;
    margin-bottom: 8px;
}

.counter {
    background-color: #426CEE;
    color: white;
    font-weight: bold;
    padding: 1px 8px;
    border-radius: 10px;
    font-size: 11px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
