.row-1 {
    display: grid;
    grid-template-columns: 200px 75px;
}

.row-2 {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    margin-top: 24px;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 24px;
}

.lightblue {
    background-color: lightblue;
}

.lightpink {
    background-color: lightpink;
}
