p {
    font-family: Roboto;
    font-size: 15px;
    color: rgb(96, 96, 96);
}

.title {
    font-size: 20px;
    width: 320px;
    font-weight: bold;
    margin-bottom: 4px;
    color: black;
}

.statistic {
    margin-top: 0;
}

.author {
}

.description {
    width: 300px;
}

.apple-text {
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 100px;
}

.shop-now:hover {
    cursor: pointer;
    text-decoration: underline;
}